<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<dict>
		<key>protocol</key>
		<string>http</string>
		<key>host</key>
		<string>localhost</string>
		<key>port</key>
		<real>8080</real>
	</dict>
	<key>isFirstLaunch</key>
	<true/>
	<key>guideScene</key>
	<string></string>
	<key>appID</key>
	<string>1be2mlt1k90hbmi0g2byirrgk8ksy1yblwx0hnj4d9vs9xgk</string>
	<key>appKey</key>
	<string>zj9gowlpfnfdscncuukyg02v3vtp5f75ptcrjek182nloqio</string>
</dict>
</plist>
