<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>联系人姓名</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<integer>0</integer>
					<key>isEditable</key>
					<true/>
					<key>maxLength</key>
					<integer>0</integer>
					<key>keyboardType</key>
					<integer>0</integer>
					<key>imageName</key>
					<string>icon_contact.png</string>
				</dict>
				<dict>
					<key>labelText</key>
					<string>手机号码</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<integer>0</integer>
					<key>isEditable</key>
					<true/>
					<key>maxLength</key>
					<integer>11</integer>
					<key>keyboardType</key>
					<integer>4</integer>
					<key>imageName</key>
					<string>icon_mobile.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>预约时间</string>
					<key>cellStyle</key>
					<string>1</string>
					<key>accessoryType</key>
					<integer>1</integer>
					<key>isEditable</key>
					<false/>
					<key>imageName</key>
					<string>icon_calendar.png</string>
				</dict>
				<dict>
					<key>labelText</key>
					<string>预约地点 (详细地址)</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<integer>0</integer>
					<key>isEditable</key>
					<true/>
					<key>maxLength</key>
					<integer>0</integer>
					<key>keyboardType</key>
					<integer>0</integer>
					<key>imageName</key>
					<string>icon_location.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>支付方式</string>
					<key>cellStyle</key>
					<string>1</string>
					<key>accessoryType</key>
					<integer>1</integer>
					<key>isEditable</key>
					<false/>
					<key>imageName</key>
					<string>icon_payment.png</string>
				</dict>
				<dict>
					<key>labelText</key>
					<string>是否需要发票</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<integer>2</integer>
					<key>isEditable</key>
					<false/>
					<key>imageName</key>
					<string>icon_invoice.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>其他需求</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<integer>0</integer>
					<key>isEditable</key>
					<true/>
					<key>maxLength</key>
					<integer>0</integer>
					<key>keyboardType</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
