<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>头像单元格区域</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>用户名</string>
					<key>cellStyle</key>
					<string>1</string>
					<key>accessoryType</key>
					<string>1</string>
					<key>imageName</key>
					<string>icon_contact.png</string>
				</dict>
				<dict>
					<key>labelText</key>
					<string>手机号码</string>
					<key>cellStyle</key>
					<string>1</string>
					<key>accessoryType</key>
					<string>0</string>
					<key>imageName</key>
					<string>icon_mobile.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>所在地区</string>
					<key>cellStyle</key>
					<string>1</string>
					<key>accessoryType</key>
					<string>1</string>
					<key>imageName</key>
					<string>icon_location.png</string>
				</dict>
				<dict>
					<key>labelText</key>
					<string>常用地址</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<string>1</string>
					<key>imageName</key>
					<string>icon_address.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>labelText</key>
					<string>设置</string>
					<key>cellStyle</key>
					<string>0</string>
					<key>accessoryType</key>
					<string>1</string>
					<key>imageName</key>
					<string>icon_setting.png</string>
					<key>rating</key>
					<dict>
						<key>labelText</key>
						<string>去评分</string>
						<key>cellStyle</key>
						<string>0</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>feedback</key>
					<dict>
						<key>labelText</key>
						<string>反馈意见</string>
						<key>cellStyle</key>
						<string>0</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
